<!-- tarefas.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tarefas do Usuário</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      background-color: #f9f9f9;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    li:last-child {
      margin-bottom: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Tarefas do Usuário</h1>
    <ul>
      <% tarefas.forEach(function(tarefa) { %>
        <li>
          <%= tarefa.nome %>
            <%= tarefa.descricao %>
        </li>
        <% }); %>
    </ul>
  </div>
</body>

</html>